/**
 * Custom theme, If you don't like it.. Change it:)
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
	border: 1px solid #dedede !important;
	word-wrap: break-word !important;
	padding: 20px 20px !important;
	line-height: 19px !important;
	margin-bottom: 20px !important;
}
pre, code {
	font-family: Consolas, 'Liberation Mono', Courier, monospace;
	color: #333;
	background: #f8f8f8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
pre, pre code {
	font-size: 13px;
}
pre .comment {
	color: #998;
}
pre .support {
	color: #09A0D3;
}
pre .tag, pre .tag-name {
	color: navy;
}
pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
	font-weight: bold;
}
pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
	color: #333;
}
pre .constant.numeric, pre .keyword.unit, pre .hex-color {
	font-weight: normal;
	color: #099;
}
pre .entity.class {
	color: #458;
}
pre .entity.id, pre .entity.function {
	color: #F61010;
	font-weight: normal;
}
pre .attribute, pre .variable {
	color: teal;
}
pre .string, pre .support.value {
	font-weight: normal;
	color: #d14;
}
pre .regexp {
	color: #009926;
}
pre .php-tag {
	background-color: rgba(255, 255, 255, 0.7);
	color: #E42121 !important;
	font-weight: bold;
}
pre .comment {
	color: #999;
}
pre .storage, pre .keyword, pre .constant {
	color: #040658;
}
pre .keyword.operator, pre .keyword.dot {
	color: #000;
}
pre .variable {
	color: #3c44ea;
}
pre .string {
	color: #318006;
}
pre .constant.numeric {
	color: #c68e09;
}
/**
 * css specific
 */
pre code[data-language="css"] .keyword, pre code[data-language="css"] .constant {
	color: #494cc6;
}
pre .tag {
	color: #040658;
}
pre code[data-language="css"] .class, pre .id, pre code[data-language="css"] .entity.name.tag {
	color: #F743EF;
}
pre .vendor-prefix {
 //color: #dcb325;
	font-style: italic;
}
/**
 * html
 */
pre .attribute {
	color: #494cc6;
}
pre code[data-language="c"]:before, pre code[data-language="php"]:before, pre code[data-language="css"]:before, pre code[data-language="lua"]:before, pre code[data-language="html"]:before, pre code[data-language="ruby"]:before, pre code[data-language="shell"]:before, pre code[data-language="csharp"]:before, pre code[data-language="python"]:before, pre code[data-language="javascript"]:before, pre code[data-language="java"]:before, pre code[data-language="r"]:before, pre code[data-language="coffeescript"]:before, pre code[data-language="go"]:before, pre code[data-language="smalltalk"]:before {
	float: right;
	color: #ddd;
	font-size: 1.2em;
}
pre code[data-language="c"]:before {
	content: "C";
}
pre code[data-language="php"]:before {
	content: "PHP";
}
pre code[data-language="css"]:before {
	content: "CSS";
}
pre code[data-language="lua"]:before {
	content: "Lua";
}
pre code[data-language="html"]:before {
	content: "HTML";
}
pre code[data-language="ruby"]:before {
	content: "Ruby";
}
pre code[data-language="shell"]:before {
	content: "Shell";
}
pre code[data-language="csharp"]:before {
	content: "C#";
}
pre code[data-language="python"]:before {
	content: "Python";
}
pre code[data-language="javascript"]:before {
	content: "Javascript";
}
pre code[data-language="java"]:before {
	content: "Java";
}
pre code[data-language="r"]:before {
	content: "R";
}
pre code[data-language="coffeescript"]:before {
	content: "Coffeescript";
}
pre code[data-language="go"]:before {
	content: "Go";
}
pre code[data-language="smalltalk"]:before {
	content: "Smalltalk";
}
pre .entity .function {
	color: #3978C9;
}
